<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'libs.html' %}
    <title>Config - FIA Doc Manager</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1>Webhook Management</h1>
    </div>

    <div class="container" id="add-wb">
        <h4>Add Discord Webhook</h4>
        <form action="/config/add/webhook" method="post">
            <div class="row">
                <div class="col-3">
                    <label for="wb-name" class="form-label">Nickname</label>
                    <input type="text" class="form-control" name="wb-name" id="wb-name" aria-describedby="helpId"
                        placeholder="Discord Server - Channel" />
                </div>
                <div class="col">
                    <label for="wb-url" class="form-label">Webhook URL</label>
                    <input type="text" class="form-control" name="wb-url" id="wb-url" aria-describedby="helpId"
                        placeholder="Webhook URL" />
                </div>
                <button type="submit" class="btn btn-primary my-3">Add URL</button>
            </div>
        </form>
    </div>
    <br>
    <div class="container" id="manage-wb">
        <h4>Manage Discord Webhook</h4>
        {% for wh in webhooks%}
            <form action="/config/update/webhook?id={{wh[0]}}" method="post">
                <div class="row">
                    <div class="col-3">
                        <label for="wb-name" class="form-label">Nickname</label>
                        <input type="text" class="form-control" name="wb-name" id="wb-name" aria-describedby="helpId"
                            placeholder="Discord Server - Channel" value="{{wh[1]}}"/>
                    </div>
                    <div class="col-9">
                        <label for="wb-url" class="form-label">Webhook URL</label>
                        <input type="text" class="form-control" name="wb-url" id="wb-url" aria-describedby="helpId"
                            placeholder="Webhook URL" value="{{wh[2]}}"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1">
                        <label for="wb-url" class="form-label"></label>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <div class="col-1">
                        <label for="wb-url" class="form-label"></label>
                        <button type="button" class="btn btn-danger" onclick="if(confirm('Remove webhook: {{wh[1]}}?')){window.location.href='/config/delete/webhook?id={{wh[0]}}'}">Delete</button>
                    </div>
                </div>
            </form>
        {%endfor%}
    </div>
</body>

</html>